@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.App {
  font-family: 'Roboto', sans-serif;
}

.sec1 {
  height: 100vh;
  width: 100%;
}

.lazyImg {
  height: 100%;
}

.beamlogowhite {
  position: absolute; 
  top: 40%; 
  right: 10%;
}

.sec2 {
  height: 100%;
  width: 100%;
  text-align: center;
}

.caroImg {
  width: 100%;
  height: 100%;
}

@media (max-width: 800px) {
  .lazyImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .beamlogowhite {
    left: 12%;
    top: 40%;
    width: 80%;
  }

  .sec1 {
    height: 100%;
  }

  .caroImg{
    width: 100%;
    height: 60vh;
    object-fit: cover;
    object-position: 22%;
  }

  .sec2 {
    height: 100%;
  }
}